.summary {
  text-align: center;
}

.available {
  display: inline-block;
  border: 1px solid #ededee;
  background-color: white;
  border-radius: 8px;
  padding: 6px 10px 6px 12px;
  margin: 50px 0 8px 0;
}

.name {
  letter-spacing: -1.44px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.job {
  letter-spacing: -0.36px;
  font-size: 18px;
  line-height: 140%;
  color: rgb(119, 119, 125);
  margin-top: 16px;
}

.content {
  text-align: left;
}
