.title {
  margin-bottom: 12px;
  font-size: 21px;
  font-weight: 500;
}

.des {
  padding-bottom: 24px;
  border-bottom: 1px solid #ededee;
}

.icon {
  width: 54px;
  height: 54px;
  padding: 14px;
  border: 1px solid #ededee;
  background-color: #f6f6f6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
