.container {
  padding: 24px 24px 32px;
}

.wrapper {
  margin: 10px 0;
}

.education {
  padding: 32px 0;
  border-bottom: 1px solid #ededee;
}

.schoolNAme {
  font-size: 16px;
  font-weight: 500;
}

.specialized {
  font-size: 12px;
  margin-top: 6px;
}

.time {
  font-size: 12px;
}
